<div class="mt-5 py-5">
  <form action="/" id="ask_form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text"  id="ask-bar" name="question" class="w-50 mx-5" placeholder="Ask me anything">
    <input type="submit" value="Submit" class="btn btn-outline-info ml-2">
  </form>
</div>
